#viewport {
    overflow: hidden;
    width: 100%;
}

.grail {
    background: #000000;
    padding: 200px 0px;
    text-align: center;
    position: relative;
    color: #ffffff;
    padding-bottom: 0px;
    overflow: hidden;
    height: 1770px;
}

.numeros{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: 30px;
    top: 160px;
    letter-spacing: 4px;
    font-size: 12px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-family:  "Lucida Sans Typewriter";
    font-size: 13px;
    color: #ffffff;
}

.container {
    margin: auto;
    width: 1100px;
    position: relative;
}

.brand{
    font-size: 12px;
    letter-spacing: 4px;
    display: block;
    line-height: 12px;
    color: #484644;
    font-weight: normal;
}

.onn{
    color:#ffffff;
    font-size: 300px;
    line-height: 300px;
    font-weight: bold;
    font-family:  "Lucida Sans Typewriter";
    text-align: center;
}

.planet{
    height: 270px;
    position: relative;
}

.world-steez-ring{
    position: absolute;
    width: 1065px;
    z-index: 6;
    left: 0px;
    right: 0px;
    top: 100px;
    margin: auto;
}

.world-steez{
    width: 800px;
    left: 0px;
    right: 0px;
    top: -200px;
    margin: auto;
    position: absolute;
    z-index: 4;
}

.world{
    width: 880px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: -260px;
    z-index: 5;
}

.txt{
    position: relative;
    z-index: 10;
    width: 380px;
    margin: auto;
}

.grailtext{
    letter-spacing: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #ffffff;
    display: block;
    font-family: "Lucida Sans Typewriter", monospace;
    margin: 0px;
    padding: 0px;
}

.so{
    font-size: 13px;
    line-height: 13px;
    font-family: "Lucida Sans Typewriter", monospace;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
}

.cv{
    color: #363636;
    margin-top: 290px;
    padding-top: 40px;
    font-size: 20px;
}

.down{
    color: #868686;
    font-family: "Lucida Sans Typewriter", monospace;
    text-decoration: underline;
    text-align: center;
}

.down:hover{
    color: #ffffff;
    cursor: pointer;
}

.scrol {
    padding-top: 50px;
    margin-bottom: 100px;
    height: 30px;
    overflow: hidden;
}

.flecha{
    color: #484644;
    line-height: 26px;
    font-weight: normal;
    font-size: 34px;
    text-align: center;
}

.flecha:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
   
}

.logo2{
    display: block;
    width: 140px;
    margin: auto;
    margin-bottom: -50px;
    display: block;
    padding: 20px;
    opacity: 0.7;
    border: 7px solid rgba(255,255,255,0.22);
}

.logo2:hover{
    cursor: pointer;
    opacity: 3;
    border: 7px solid white;
}