#viewport {
    overflow: hidden;
    width: 100%;
}

.hydrocode{
    background-size: contain;
    background: #000 url(../imagenes/hydrocode.jpg) top no-repeat;
    padding: 260px 0px;
    position: relative;
    color: #ffffff;
    overflow: hidden;
    display: block;
}

.numeros{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: 30px;
    top: 160px;
    letter-spacing: 4px;
    font-size: 12px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-family:  "Lucida Sans Typewriter";
    font-size: 13px;
    color: #ffffff;
}

.containerH {
    margin: auto;
    width: 1100px;
    position: relative;
    height: 900px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .column-2:first-child {
    float: left;
}

.row .column-2 {
    width: 500px;
    float: right;
    position: relative;
}

h2 {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    color: #ffffff;
    font-family: "Lucida Sans Typewriter", monospace;
    text-transform: uppercase;
    margin: 0px; 
    padding: 0px;
    display: block;
}

p{
    font-family:"Bitstream Vera Sans Mono",monospace;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

.impact {
    transition: 0.5s all;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    font-weight: bold;
    font-family: "Lucida Sans Typewriter", monospace;
    letter-spacing: 3px;
    float: left;
    margin-right: 20px;
    width: 260px;
    height: 90px;
    padding-top: 90px;
    line-height: 18px;
}

.impact:hover{
    color:  #cfc483;
}

.hydrocode .graph {
    height: 600px;
    position: relative;
}

.hydrocode .graph-line {
    -webkit-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    background: rgba(255,255,255,0.2);
    width: 2px;
    height: 0px;
    position: absolute;
    left: 0%;
    bottom: -260px;
}

.hydrocode-active .graph-line {
    height: 860px;
}

.hydrocode .line-2 {
    -webkit-transition: 1.8s all cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 1.8s all cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 1.8s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 1.8s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1.8s all cubic-bezier(0.23, 1, 0.32, 1);
    left: 33%;
}

.hydrocode .line-3 {
    -webkit-transition: 2.1s all cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 2.1s all cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 2.1s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 2.1s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 2.1s all cubic-bezier(0.23, 1, 0.32, 1);
    left: 66%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.hydrocode .line-4 {
    -webkit-transition: 2.4s all cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 2.4s all cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 2.4s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 2.4s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 2.4s all cubic-bezier(0.23, 1, 0.32, 1);
    left: 100%;
}

.on{
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    font-family: "Lucida Sans Typewriter", monospace;
    text-transform: uppercase;
    margin: 0px; 
    padding: 0px;
    display: inline-block; 
}

.span{
    margin: 0px 15px;
    font-size: 15px;
    font-weight: bold;
    font-weight: 200;
    color: #383838;
    display: inline-block; 
}

.off{
    color: #5e5e5e;
    font-size: 13px;
    font-weight: bold;
    font-family: "Lucida Sans Typewriter", monospace;
    text-transform: uppercase;
    margin: 0px; 
    padding: 0px;
    display: inline-block; 
}

.off:hover{
    color: #ffffff;
}

.play{
    transition: all 0.3s;
    border: 5px solid #e0e0e0;
    display: inline-block;
    font-size: 73px;
    line-height: 17px;
    font-family: "Lucida Sans Typewriter", monospace;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 70px;
    height: 78px;
    float: left;
}

.play:hover{
    cursor: pointer;
    border: 5px solid #cfc483;
    color:  #cfc483;
}