.navigation {
    right: 30px;
    position: fixed;
    top: 300px;
    width: 16px;
    z-index: 100;
}

.navigation-dark a {
    border: 2px solid transparent;
}

.navigation a {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(255,255,255,0);
    display: block;
    margin-bottom: 10px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    box-sizing: border-box;
}